# Finder configuration files (Mac).
.DS_Store

# Node.js dependencies.
node_modules/

# NPM's lockfile.
package-lock.json

# Log files.
*.log
*.log.*

# Generated sources & type definitions.
src/**/*.js
dist/
types/
